<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Home page</title>
</head>
<body>
<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h3>Добавить человека</h3>
            <p>Добавление нового человека в список</p>
            <a href="/people/new" class="icon-link d-inline-flex align-items-center">
                Перейти
                <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
            </a>
        </div>
        <div class="feature col">
            <h3>Люди</h3>
            <p>Просмотр списка людей</p>
            <a href="/people" class="icon-link d-inline-flex align-items-center">
                Перейти
                <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
            </a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>